@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url(images/bg-principal.jpg);
    filter: grayscale(100%);
    background-position: 50% 50%;
    height: 100vh;
}

.titulo {
    color: white;
    text-transform: uppercase;
}

.contenedor